{% extends 'user/userNavigation.html' %}
{% block content %}
{% load static %}

<body style="background-image: url({% static "images/4.jpg" %});background-repeat: no-repeat;background-size: cover;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Test Image Upload
                        </h3>
                    </div>
                    <div class="card-body">
                        <form id="formAddCollege" action="/testimage/" enctype='multipart/form-data' 
                        method="post" onsubmit="return validateUser()">
                            {% csrf_token %}

                            <label for="testimage" class="form-group">Select Image</label>
                            <input type="file" name="test1" id="test" class="form-group form-control">

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary form-control form-group" id="btbaddFarmer" >
                                    Sumbit
                                </button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</body>

{%endblock%}